---
const { label, desc } = Astro.props;
---

<div class="p-4 rounded-xl border">
  <div class="text-sm font-semibold text-gray-900">{label}</div>
  <p class="text-sm text-gray-600 mt-1">{desc}</p>
</div>
